<ion-view title="我的" class="boxView">
    <ion-content class="has-header">
        <div class="navInformation">
            <div></div>
            <button class="register">登录</button>
            <button class="login">注册</button>
        </div>
        <ul class="myInformation">
            <li><a href="">0</a><span>影评</span></li>
            <li><a href="">0</a> <span>看过</span></li>
            <li><a href="">0</a> <span>想过</span></li>
            <li><a href="">0</a> <span>收藏</span></li>
        </ul>
        <!--分割线-->
        <div class="divider"></div>

        <ul class="myInformation myInformation1">
            <li><a href=""><i class="icon ion-ios-paper" style="color:orange;"></i></a><span>优惠券</span></li>
            <li><a href=""><i class="icon ion-key" style="color:red;"></i></a> <span>口令红包</span></li>
            <li><a href=""><i class="icon ion-ios-photos" style="color:rgb(142,123,227);"></i></a> <span>礼品卡</span></li>
            <li><a href=""><i class="icon ion-ios-heart" style="color:rgb(235,130,97);"></i></a><span>余额</span></li>
        </ul>

        <!--分割线-->
        <div class="divider"></div>

        <ion-list class="inforList">
            <ion-item>
                <a href="">
                    电影票订单
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
        </ion-item>
            <ion-item>
                <a href="">
                    商品订单
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </ion-item>
            <ion-item>
                <a href="">
                    购物车
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </ion-item>
            <ion-item>
                <a href="">
                    我的活动
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </ion-item>
            <ion-item>
                <a href="">
                    直播
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </ion-item>
        </ion-list>

        <!--分割线-->
        <div class="divider"></div>

        <ion-list class="inforList">
            <ion-item>
                <a href="">
                    客户/反馈
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </ion-item>
            <ion-item>
                <a href="">
                    基本设置
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </ion-item>
            <ion-item>
                <a href="">
                    关于我们
                    <i class="icon ion-ios-arrow-right"></i>
                </a>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>